{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ author.first_name }} {{last_name}}</h1>
    <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
    {% if author.date_of_death %}
        <p><strong>Date of Death:</strong> {{ author.date_of_death }}</p>
    {% endif %}

    <h2>Books by {{ author }}</h2>
    <ul>
        {% for book in book.book_set.all %}
            <li>{{ book.title }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'authors' %}">Back to Authors List</a>
  </div>
{% endblock %}
